* {
	box-sizing: border-box;
}

body {
	background: black url("../images/trainbg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

.panel {
	background-color: rgba(255,255,255,0.95);
}

.non-editable {
	border: none;
	background-color: transparent;
}

.remove-default {
	border: none;
	box-shadow: none;
}

.wrong-format {
	border: solid 0.2px #f95252;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0), 0 0 7px rgba(255, 140, 140, 1);
}

button {
	outline: none !important;
	margin: 10px;
}

button: active {
	outline : 0 1px 1px rgba(0, 0, 0, 0.0), 0 0 7px rgba(255, 140, 140, 1);
}

#userPic {
	width: 35px;
	height: 35px;
} 

#welcomeName, #userPic {
	margin: 5px;
	margin-top: 10px;
}

#welcomeName {
	margin-top: 15px;
}

i {
	margin-right: 10px;
}

.undoEditClick> i {
	margin-right: 0px;
}

#newTrainAdditionPanel, .signedIn {
	display: none;
}


